@media screen and (max-width: 414px) {

    span.carousel-control-next-icon:before, span.carousel-control-prev-icon:before{
        width: 22px;
        height: 6px; 
        font-size: 24px;
        margin: 2px;
    }

    span.carousel-control-prev-icon:before{
        left: 0px;
    }
    span.carousel-control-prev-icon {
        
        width: 30px;
        height: 30px;
    }

    span.carousel-control-next-icon{
        width: 30px;
    height: 30px;
    }

    span.carousel-control-next-icon:before {
        right: 0px;
    }

    .fitst-image {
        margin: 21px 0;
    }

    .feature-content h2 {
        font-size: 25px;
    }

    .feature-content p {
        font-size: 14px;
    margin: 0px;
    line-height: 26px;
    }

    .product-shopping {
        margin: 0;
    }
    
    .product-content h5 {
        font-size: 12px;
    }

    .product-content p {
        font-size: 14px;
    }

    .item {
        margin-top: 25px;
    }

    .slick-content {
        padding: 17px 0;
    }

    .slick-content h2 {
        font-size: 25px;
        font-weight: 600;
    }

    button.btn.btn-slick {
        font-size: 14px;
        padding: 12px 29px;
    }

    .slick-content p {
        font-size: 15px;
    }

    .Column-list img {
        padding: 17px 16px;
        margin: 0;
    }

    .follow-insta h3 {
        font-size: 28px;   
    }

    .Newsletter h3 {
        font-size: 33px;
    }
    .Newsletter p {
        font-size: 16px;
    }

    input#signuptop-validation {
        padding: 18px 12px;
        font-size: 13px;
    }

    input#sub1valid {
        padding: 17px 33px;
        font-size: 13px;
    }

    .email-input {
        margin-top: 0;
        padding: 39px;
    }

    .fa-footer {
        text-align: center;
    }

    .footer-copy p {
        text-align: center;
    }

    .text-holder-fife h4 {
        font-size: 22px;
   }

    .text-holder-fife h3 {
        font-size: 28px;
    }

    .text-holder-four h3 {
        font-size: 28px;
    }

    .text-holder-four h4 {
        font-size: 22px;
    }
    .text-holder h4 {
        font-size: 22px;
    }
    .text-holder h3 {
        font-size: 28px;
    }

    }

    @media screen and (max-width: 768px) {

        .slick-content {
            padding: 95px 0;
        }

        .carousel-caption.d-none.d-md-block {
            margin: 0;
        }

        .Newsletter p {
            font-size: 16px;
            line-height: 31px;
        }


    }

  