/*  start home page */

@media screen and (max-width: 768px) {
    .slick-content {
        padding: 95px 0;
    }

    .carousel-caption.d-none.d-md-block {
        margin: 0;
    }

    .Newsletter p {
        font-size: 16px;
        line-height: 31px;
    }


    button.navbar-toggler {
        display: block;
        }
}

@media screen and (max-width: 414px) {

    .info-slider span {
        padding: 0;
        margin: 23px;
    }

    span.carousel-control-next-icon:before,
    span.carousel-control-prev-icon:before {
        width: 22px;
        height: 6px;
        font-size: 24px;
        margin: 2px;
    }

    span.carousel-control-prev-icon:before {
        left: 0px;
    }
    span.carousel-control-prev-icon {
        width: 30px;
        height: 30px;
    }

    span.carousel-control-next-icon {
        width: 30px;
        height: 30px;
    }

    span.carousel-control-next-icon:before {
        right: 0px;
    }

    .fitst-image {
        margin: 21px 0;
    }

    .feature-content h2 {
        font-size: 25px;
    }

    .feature-content p {
        font-size: 14px;
        margin: 0px;
        line-height: 26px;
    }

    .product-shopping {
        margin: 0;
    }

    .product-content h5 {
        font-size: 12px;
    }

    .product-content p {
        font-size: 14px;
    }

    .item {
        margin-top: 25px;
    }

    .slick-content {
        padding: 17px 0;
    }

    .slick-content h2 {
        font-size: 25px;
        font-weight: 600;
    }

    button.btn.btn-slick {
        font-size: 14px;
        padding: 12px 29px;
    }

    .slick-content p {
        font-size: 15px;
    }

    .Column-list img {
        padding: 17px 16px;
        margin: 0;
    }

    .follow-insta h3 {
        font-size: 28px;
    }

    .Newsletter h3 {
        font-size: 33px;
    }
    .Newsletter p {
        font-size: 16px;
    }

    input#signuptop-validation {
        padding: 18px 12px;
        font-size: 13px;
    }

    input#sub1valid {
        padding: 17px 33px;
        font-size: 13px;
    }

    .email-input {
        margin-top: 0;
        padding: 39px;
    }

    .fa-footer {
        text-align: center;
    }

    .footer-copy p {
        text-align: center;
    }

    .text-holder-fife h4 {
        font-size: 22px;
    }

    .text-holder-fife h3 {
        font-size: 28px;
    }

    .text-holder-four h3 {
        font-size: 28px;
    }

    .text-holder-four h4 {
        font-size: 22px;
    }
    .text-holder h4 {
        font-size: 22px;
    }
    .text-holder h3 {
        font-size: 28px;
    }

   
    .info-slider {
        padding: 9px 38px;
        color: #7b7b7b;
        font-family: Poppins;
        font-size: 13px;
    }
    .icon-social-slider {
        float: none;
        padding: 0;
        text-align: center;
        margin-bottom: 21px;
    }

    button.navbar-toggler {
        border: 0;
    }
    .nav-icon-holder {
        float: none;
        text-align: center;
    }

 
}

/*  end home page */

/*  start shop page */

@media screen and (max-width: 768px) {
    .tab-content > .active {
        display: flex;
    }

    select.ctrl-row {
        padding: 19px 3px;
    }

    .adidas-product {
        margin: 0;
    }
    button#list {
        padding: 13px 15px;
    }
    button#grid {
        padding: 6px 14px;
    }
    .img-label {
        text-align: center;
    }
    .rating-product {
        font-size: 10px;
    }

    button.btn-tags {
        padding: 7px 33px;
    }

    .img-label img {
        height: 248px;
    }

    .cart-btn {
        margin: 37px;
        text-align: center;
    }

}

@media screen and (max-width: 414px) {
    button#list,
    button#grid {
        color: #a9a9a9;
        font-size: 31px;
        width: 157px;
    }

    .img-label {
        display: flex;
        justify-content: center;
    }

    img.img-widget {
        width: auto;
    }


    .list-group-item button.btn.btn-primary {
        display: none;
    }

    .label {
        display: none;
    }

    .show-grid-list {
        width: 100%;
    }

    select.ctrl-row {
        width: 100%;
    }

    .form-radio {
        padding: 0px 20px;
        margin: 0px 5px;
    }

    button.btn-tags {
        margin: 0 1px 12px;
    }

    .adidas-product,
    .hm-brand {
        margin: 6px 0px;
    }

    .pagination-grid {
        margin: 0;
    }
}

/*  end shop page */


/*  start single product page */

@media screen and (max-width: 768px) {
 
    .single-header p {
        margin-left: 39px;
    }
    .container.mt-3 .tab-content > .active {
        display: block;
    }

    #myCarousel .carousel-indicators > li {
        height: 100px;
    }

}

@media screen and (max-width: 414px) {

    .single-header p {
        margin-left: 25px;
    }

    .single-header {
        margin-top: 22px;
    }

    #myCarousel .carousel-indicators > li {
        height: 100px;
    }

    .img-selctor-info h2 {
        margin-bottom: 0;
    }

    p.Additional-information span {
        margin: 0;
    }
    .container.mt-3 .tab-content > .active {
        display: block;
    }
}

/*  end single product page */


/*  start cart page */

@media screen and (max-width: 768px) {
 
    input#inputPassword2 {
        padding: 14px 16px;
    }


}

@media screen and (max-width: 414px) {
    .cart-btn {
        justify-content: center;
    }

    .cart-btn input#sub1valid  {
        text-align: center;
        margin: 0px 44px;
    }

    .range-slider h3 {
        line-height: 20px;
    }

    .form-radio {
        margin: 0;
    }

    .form-group.mx-sm-3.mb-2 .sub-email {
        margin: 14px;
    }

    input#inputPassword2 {
        padding: 4px 29px;
    }
    .discount-code h6 {
        text-align: center;
    }

    .discount-code p {
        text-align: center;
    }

    form.form-inline input#sub1valid {
        padding: 8px 19px;
        margin: 9px auto;
        display: block;
    }

    
  

}

/*  end cart page */
