@font-face {
    font-family: "Playfair";
    src: url("/fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf"), url("/fonts/PlayfairDisplay-VariableFont_wght.ttf");
}
@font-face {
    font-family: "Poppins-Bold  ";
    src: url("/fonts/Poppins-Bold.ttf");
}

@font-face {
    font-family: "Poppins-Regular  ";
    src: url("/fonts/Poppins-Regular.ttf");
}

@font-face {
    font-family: "Poppins-Light  ";
    src: url("/fonts/Poppins-Light.ttf");
}

@font-face {
    font-family: "Poppins-medium";
    src: url("/fonts/Poppins-Medium.ttf");
}

/* start Home Page */

/* start navbar slider */

.home-slider {
    overflow: hidden;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    background: white !important;
}

.info-slider {
    padding: 9px 22px;
    color: #7b7b7b;
    font-family: Poppins;
    font-size: 13px;
}

.info-slider span {
    padding: 0px 41px;
}

.icon-social-slider {
    float: right;
    padding: 9px 22px;
    color: #7b7b7b;
    font-size: 13px;
}
.icon-social-slider i {
    padding: 0px 6px;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    background: #ffffff !important;
}

span.carousel-control-next-icon:before,
span.carousel-control-prev-icon:before {
    position: absolute;
    width: 20px;
    height: 20px;
    color: white;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 40px;
    margin: 13px;
}

i.fa.fa-user-o:before {
    content: "\f2c0";
    font-size: 20px;
    color: rgb(25 24 24 / 50%);
}

i.fa.fa-search {
    font-size: 20px;
    color: rgb(25 24 24 / 50%);
}
i.fa.fa-shopping-basket:before {
    content: "\f291";
    color: rgb(25 24 24 / 50%);
}

.nav-icon-holder i {
    margin: 0px 3px 0px 14px;
}
.nav-icon-holder {
    padding: 0px 15px;
    float: right;
}

hr.navbar-icons {
    margin: 0;
}

span.carousel-control-next-icon:before {
    right: 9px;
    content: "\f105";
}

span.carousel-control-prev-icon:before {
    left: 9px;
    content: "\f104";
}

.home-slider .carousel-control-next-icon,
.home-slider span.carousel-control-prev-icon {
    background-image: none;
}

ul.navbar-nav a {
    font-size: 13px;
    font-family: Poppins;
    margin: 6px 5px;
    line-height: 33px;
    color: #293341;
    font-weight: 500;
}

ul.navbar-nav a:hover {
    color: #c91f28;
}

.md-form {
    margin: 17px;
}

.md-form i {
    color: #293341;
    font-size: 22px;
    margin: 1px 3px;
}

/* end navbar slider */

/* home slider */

span.carousel-control-next-icon {
    background: rgb(102 105 105);
    width: 68px;
    height: 68px;
    border-radius: 42px;
    position: relative;
}

span.carousel-control-prev-icon {
    background: rgb(102 105 105);
    width: 68px;
    height: 68px;
    border-radius: 42px;
    position: relative;
}

button.btn.btn-secondary {
    border-radius: 1px;
    background: rgb(35 35 44);
    padding: 19px;
    margin: 4px;
    width: 195px;
    font-size: 20px;
    font-family: Poppins;
}

button.btn.btn-secondary:hover {
    background-color: #c91f28;
    border: 1px solid #c91f28;
}

.home-slider h1 {
    font-family: "Playfair";
    color: rgb(41 51 65);
    font-weight: 700;
    font-size: 49px;
    line-height: 53px;
}

.home-slider p {
    color: rgb(123, 123, 123);
    font-family: Poppins;
    font-size: 12px;
    line-height: 14px;
}

.carousel-caption.d-none.d-md-block {
    margin: 193px;
}

/*  end of home slider */

/*  start image section */

.image-section img {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.image-section {
    margin: 30px 0;
}

.text-holder {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-50%, -50%);
}

.text-holder h3 {
    font-size: 40px;
    color: rgb(41, 51, 65);
    font-family: Poppins;
    font-weight: 500;
}

.text-holder h4 {
    font-size: 30px;
    line-height: 10px;
    color: rgb(41, 51, 65);
}

.text-holder-four {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-50%, -50%);
}

.text-holder-fife {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    margin-left: 45px;
}

.fifth-image {
    margin-top: 20px;
}

.forth-image {
    margin-top: 20px;
}

.text-holder-four h3 {
    font-size: 40px;
    color: rgb(41, 51, 65);
    font-family: Poppins;
}

.text-holder-four h4 {
    font-size: 30px;
    color: rgb(41, 51, 65);
    line-height: 10px;
}

.text-holder-fife h3 {
    font-size: 40px;
    color: rgb(41, 51, 65);
    font-family: Poppins;
}

.text-holder-fife h4 {
    font-size: 30px;
    color: rgb(41, 51, 65);
    line-height: 10px;
}

/*  end of image section */

/*  start Feature section */

.feature-content {
    text-align: center;
    color: rgb(41, 51, 65);
}

.feature-content h2 {
    font-family: Playfair;
    font-size: 40px;
    font-weight: bold;
}

.feature-content p {
    font-size: 18px;
    font-family: Poppins;
    color: rgb(123, 123, 123);
}

/*  end Feature section */

/*  start Product Shopping */

.demo {
    padding: 45px 0;
}
.product-grid2 {
    font-family: "Open Sans", sans-serif;
    position: relative;
}
.product-grid2 .product-image2 {
    overflow: hidden;
    position: relative;
}
.product-grid2 .product-image2 a {
    display: block;
    font-family: Poppins;
}
.product-grid2 .product-image2 img {
    width: 100%;
    height: auto;
}
.product-image2 .pic-1 {
    opacity: 1;
    transition: all 0.5s;
}
.product-grid2:hover .product-image2 .pic-1 {
    opacity: 0;
}
.product-image2 .pic-2 {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.5s;
}
.product-grid2:hover .product-image2 .pic-2 {
    opacity: 1;
}
.product-grid2 .social {
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 50px;
    right: 25px;
    z-index: 1;
}
.product-grid2 .social li {
    margin: 0 0 10px;
    display: block;
    transform: translateX(100px);
    transition: all 0.5s;
}
.product-grid2:hover .social li {
    transform: translateX(0);
}
.product-grid2:hover .social li:nth-child(2) {
    transition-delay: 0.15s;
}
.product-grid2:hover .social li:nth-child(3) {
    transition-delay: 0.25s;
}
.product-grid2 .social li a {
    color: #505050;
    background-color: #fff;
    font-size: 17px;
    line-height: 45px;
    text-align: center;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    display: block;
    transition: all 0.3s ease 0s;
}
.product-grid2 .social li a:hover {
    color: #fff;
    background-color: #c91f28;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.product-grid2 .social li a:after,
.product-grid2 .social li a:before {
    content: attr(data-tip);
    color: #fff;
    background-color: #000;
    font-size: 12px;
    line-height: 22px;
    border-radius: 3px;
    padding: 0 5px;
    white-space: nowrap;
    opacity: 0;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    top: -30px;
}
.product-grid2 .social li a:after {
    content: "";
    height: 15px;
    width: 15px;
    border-radius: 0;
    transform: translateX(-50%) rotate(45deg);
    top: -22px;
    z-index: -1;
}
.product-grid2 .social li a:hover:after,
.product-grid2 .social li a:hover:before {
    opacity: 1;
}
.product-grid2 .add-to-cart {
    color: #fff;
    background-color: #404040;
    font-size: 15px;
    text-align: center;
    width: 100%;
    padding: 10px 0;
    display: block;
    position: absolute;
    left: 0;
    bottom: -100%;
    transition: all 0.3s;
}
.product-grid2 .add-to-cart:hover {
    background-color: #c91f28;
    text-decoration: none;
}
.product-grid2:hover .add-to-cart {
    bottom: 0;
}
.product-grid2 .product-new-label {
    background-color: #3498db;
    color: #fff;
    font-size: 17px;
    padding: 5px 10px;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 0.3s;
}
.product-grid2:hover .product-new-label {
    opacity: 0;
}
.product-grid2 .product-content {
    padding: 20px 10px;
    color: rgb(41, 51, 65);
}
.product-grid2 .title {
    font-size: 17px;
    margin: 0 0 7px;
}
.product-grid2 .title a {
    color: #303030;
}
.product-grid2 .title a:hover {
    color: #3498db;
}
.product-grid2 .price {
    color: #303030;
    font-size: 15px;
}
@media screen and (max-width: 990px) {
    .product-grid2 {
        margin-bottom: 30px;
    }
}

.product-shopping {
    margin: 30px 0;
}

.product-content p {
    color: rgb(123, 123, 123);
    line-height: 15px;
}

.product-content h5 {
    font-size: 17px;
    font-family: Poppins;
}

.product-content h5:hover {
    color: #c91f28;
}

/*  end Product Shopping */

/*  start slick list */

.item {
    left: 0;
    top: 0;
    position: relative;
    overflow: hidden;
    margin-top: 50px;
}
.item img {
    -webkit-transition: 0.6s ease;
    transition: 0.6s ease;
    border: 1px;
}
.item img:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
.img-thumbnail {
    border: 0px;
    border-radius: 0px;
}

.img-slick {
    width: 100%;
}

.slick-content {
    padding: 120px 0;
}

.slick-content h2 {
    font-size: 40px;
    font-weight: 700;
    color: #293341;
}

.slick-content p {
    color: rgb(165 164 164);
    font-size: 16px;
    line-height: 28px;
    font-family: Poppins;
}

button.btn.btn-slick {
    font-size: 18px;
    padding: 18px 40px;
    background-color: #293341;
    color: white;
    font-weight: 500;
    font-family: Poppins;
    border-radius: 1px;
}

button.btn.btn-slick:hover {
    background: #c91f28;
    border: 1px solid#c91f28;
}

.second-item {
    left: 0;
    top: 0;
    position: relative;
    overflow: hidden;
    margin-top: 50px;
}

.second-item img {
    -webkit-transition: 0.6s ease;
    transition: 0.6s ease;
    border: 1px;
}

.second-item img:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

/*  end slick list */

/*  start column list */

.Column-list {
    background-color: #f9f9f9;
    margin-top: 54px;
}

.Column-list img {
    padding: 37px;
}

/*  end column list */

/*  start instgram item */

.follow-insta h3 {
    color: rgb(41, 51, 65);
    font-family: Playfair;
    font-size: 40px;
    font-weight: 700;
}

.follow-insta {
    text-align: center;
    margin-top: 54px;
}

.follow-insta p {
    color: rgb(123, 123, 123);
    font-size: 18px;
    font-family: Poppins;
}

/*  end instgram item */

/*  start overlay carousel */

.blog .carousel-indicators {
    left: 0;
    top: auto;
    bottom: -40px;
}

/* The colour of the indicators */
.blog .carousel-indicators li {
    background: #a3a3a3;
    border-radius: 50%;
    width: 8px;
    height: 8px;
}

.blog .carousel-indicators .active {
    background: #707070;
}

.carousel-inner-overlay img {
    margin: 3px;
    width: 250px;
    height: 250px;
}

.row.blog {
    padding: 30px;
    overflow: hidden;
}

/*  end overlay carousel */

/*  start Email validation */

.Newsletter {
    text-align: center;
    margin-top: 54px;
}

.Newsletter h3 {
    color: rgb(41, 51, 65);
    font-family: Playfair;
    font-size: 40px;
    font-weight: 700;
}

.Newsletter p {
    color: rgb(123, 123, 123);
    font-size: 19px;
    font-family: Poppins;
}

.email-input {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

input#signuptop-validation {
    padding: 24px 152px;
    background: #f7f5f5;
    border: 0px solid #efefef;
    border-radius: 1px;
    font-family: Poppins;
}

input#sub1valid {
    padding: 22px 56px;
    background: #293341;
    font-size: 18px;
    font-family: Poppins;
    border-radius: 1px;
    font-weight: 500;
    margin: 0;
}

input#sub1valid:hover {
    background: #c91f28;
    border: 1px solid#c91f28;
}

/*  end Email validation */

/*  start footer */

footer#dk-footer hr {
    margin-top: 48px;
}

.copyright {
    padding: 28px 0;
    margin-top: 55px;
}
.copyright span,
.copyright a {
    color: #878787;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.copyright a:hover {
    color: #007bff;
}

.footer-img-holder {
    text-align: center;
}

.footer-copy p {
    color: rgb(123, 123, 123);
    font-family: Poppins;
    font-weight: 300;
}

.footer-copy {
    text-align: right;
    margin-top: 11px;
}

.back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
}

.fa-footer i {
    margin: 7px;
    font-size: 13px;
}

.fa-footer {
    color: #7b7b7b;
    margin: 13px;
}

/*  end footer */

/* end home page */

/*  start Background image */

.bg-image {
    background-image: url(../img/shop-page/bg-image/bg-img.jpg);
    background-size: cover;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-image h1,
.bg-image p {
    font-family: Poppins;
    color: white;
}

.bg-image p {
    font-size: 16px;
    line-height: 22px;
}

.paragraph-bg-img {
    margin: 23px 14px 0px 8px;
}

/*  end Background image */

/*  start PRODUCT CATEGORIES */

.categ-content {
    margin-top: 50px;
}

.categ-content h3 {
    font-family: Poppins;
    font-size: 16px;
    color: rgb(41, 51, 65);
    margin-bottom: 19px;
    letter-spacing: 3px;
}

.header-shop h2 {
    color: #293341;
    font-size: 34px;
    font-family: Poppins;
    font-weight: 500;
    margin: 24px 0 0 0;
}

.product-paragraph {
    height: 300px;
    overflow-y: auto;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #d9d9d9;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #c2c2c2;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #c2c2c2;
}

.product-paragraph p {
    font-size: 16px;
    margin-top: 14px;
    font-family: Poppins;
    font-weight: 300;
}

.product-paragraph hr {
    padding: 3px;
}

.product-paragraph span {
    font-size: 12px;
    line-height: 20px;
}

/*  start range slider */
.slidecontainer {
    width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
    -webkit-appearance: none; /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 4px; /* Specified height */
    background: #eee; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
    transition: opacity 0.2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 10px; /* Set a specific slider handle width */
    height: 10px; /* Slider handle height */
    background: #c91f28; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #c91f28; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.range-slider {
    margin-top: 48px;
}

.range-price {
    margin-top: 20px;
}

button.btn.btn-info {
    padding: 12px 35px;
    border-radius: 1px;
    background: #293341;
    border: 1px solid #293341;
    font-size: 14px;
    font-family: Poppins;
    font-weight: 500;
}

.range-price span {
    font-size: 11px;
    color: #293341;
    font-weight: 500;
}
.range-price p {
    font-size: 14px;
    margin-top: 14px;
    font-family: Poppins;
    font-weight: 300;
}

.range-slider h3 {
    font-size: 16px;
    color: #293341;
    line-height: 40px;
    font-family: Poppins;
    font-weight: 600;
    letter-spacing: 3px;
}

/*  end range slider */

/*  start product size */

.checkbox-primary input[type="checkbox"]:checked:after {
    color: #e47d2e;
}
.checkbox-danger input[type="checkbox"]:checked:after {
    color: #d9534f;
}
.checkbox-info input[type="checkbox"]:checked:after {
    color: #5bc0de;
}
.checkbox-warning input[type="checkbox"]:checked:after {
    color: #f0ad4e;
}
.checkbox-success input[type="checkbox"]:checked:after {
    color: #5cb85c;
}
.checkbox-inline {
    margin-top: 0px;
}
.checkbox input[type="checkbox"],
input[type="checkbox"] {
    position: absolute;
    visibility: hidden;
    margin-top: 0;
    margin-left: -22px;
}
.checkbox input[type="checkbox"]:disabled,
input[type="checkbox"]:disabled {
    opacity: 0.65;
}
input[type="checkbox"]:checked:after,
input[type="checkbox"]:after {
    visibility: visible;
    font-family: FontAwesome;
    display: inline-block;
    color: #333333;
}
input[type="checkbox"]:checked:after:disabled,
input[type="checkbox"]:after:disabled {
    cursor: not-allowed;
    opacity: 0.65;
}
input[type="checkbox"]:checked:after {
    font-size: 23px;
    content: "\f058";
    color: #c91f28;
}
input[type="checkbox"]:after {
    font-size: 23px;
    content: "\f058";
    color: #c91f28;
}

input.styled-success:after {
    color: #337ab7;
}

input.styled-primary:after {
    color: #337ab7;
}

input.styled-success:after {
    color: #f0c32c;
}

input.styled-info:after {
    color: #27bc9c;
}

input.styled-warning:after {
    color: #337ab7;
}

input.styled-danger:after {
    color: #337ab7;
}

.form-radio {
    padding: 21px;
}

.checkbox p {
    font-size: 16px;
    padding: 0px 7px;
    line-height: 7px;
}

.check-box-fillter {
    margin-top: 48px;
}

.form-radio {
    margin: 0px 18px;
}

.check-box-fillter h4 {
    font-size: 16px;
    font-family: Poppins;
    font-weight: 600;
    letter-spacing: 3px;
}

.product-size {
    margin-top: 48px;
}

.product-size h4 {
    font-size: 16px;
    font-family: Poppins;
    font-weight: 600;
    letter-spacing: 3px;
    margin-bottom: 26px;
}

.product-size p {
    font-size: 16px;
    font-family: Poppins;
    line-height: 20px;
    font-weight: 300;
}

/*  end product size */

/*  start product widget */

.product-widget {
    margin-top: 48px;
}

.product-widget h4 {
    font-size: 16px;
    font-family: Poppins;
    font-weight: 600;
    letter-spacing: 3px;
    margin-bottom: 26px;
}

.checked {
    color: orange;
}

img.img-widget {
    width: 100px;
}

.widget-rate h3 {
    font-size: 16px;
    line-height: 25px;
    font-family: Poppins;
    font-weight: 500;
    margin-bottom: 2px;
}

.widget-rate p {
    font-size: 16px;
    font-family: Poppins;
    font-weight: 400;
}

.rating-product {
    font-size: 13px;
    margin-bottom: 9px;
}

.widget-rate {
    padding: 6px;
}

/*  end product widget */

/*  start product Brands */

.adidas-product {
    margin: 10px;
}

.hm-brand {
    margin: 10px;
}

.product-brand {
    margin-top: 48px;
}

.product-brand h4 {
    font-size: 16px;
    font-family: Poppins;
    font-weight: 600;
    letter-spacing: 3px;
    margin-bottom: 26px;
}

/*  end product Brands */

/*  start tags */

.tags {
    margin-top: 48px;
}

.tags h4 {
    font-size: 16px;
    font-family: Poppins;
    font-weight: 600;
    letter-spacing: 3px;
    margin-bottom: 26px;
}

button.btn-tags {
    border: 1px solid #eee;
    background: white;
    margin: 0 6px 11px;
    font-size: 13px;
    font-family: Poppins;
    font-weight: 400;
    color: #949393;
    line-height: 30px;
    padding: 7px 24px;
}

button.btn-tags:hover {
    border: 1px solid #c91f28;
    color: #c91f28;
}

/*  end tags */

/*  start List - Grid View */
.view-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
}
.thumbnail {
    margin-bottom: 30px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.item.list-group-item {
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 30px;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 1rem;
    border: 0;
}
.item.list-group-item .img-event {
    float: left;
    width: 30%;
}

.item.list-group-item .list-group-image {
    margin-right: 10px;
}
.item.list-group-item .thumbnail {
    margin-bottom: 0px;
    display: inline-block;
}
.item.list-group-item .caption {
    float: left;
    width: 70%;
    margin: 0;
    padding-left: 0;
}

.item.list-group-item:before,
.item.list-group-item:after {
    display: table;
    content: " ";
}

.item.list-group-item:after {
    clear: both;
}

.show-grid-list p {
    margin-top: 12px;
}

.show-grid-list {
    float: left;
    padding: 6px 20px;
    border: 1px solid #eee;
    color: #7b7b7b;
    font-size: 14px;
    font-family: Poppins;
    font-weight: 400;
}

button#list {
    background: white;
    color: #aaabaa;
    padding: 12px 20px;
    border: 1px solid #eee;
    font-size: 25px;
}

select.ctrl-row {
    padding: 18px 20px;
    border: 1px solid #eee;
    color: #7b7b7b;
    font-size: 16px;
    font-family: Poppins;
    font-weight: 400;
}

.btn-group {
    float: right;
}

button#grid {
    background: white;
    color: #aaabaa;
    padding: 6px 20px;
    border: 1px solid #eee;
    font-size: 25px;
    border-radius: 1px;
}
button#grid:hover {
    color: rgb(238, 26, 26);
}
button#list:hover {
    color: rgb(238, 26, 26);
}

.pull-right {
    margin-top: 38px;
    border: 1px solid #eee;
    width: 100%;
}

.rate-grid {
    color: #ffbb04;
    text-align: center;
    font-size: 15px;
    margin-top: 7px;
}

.thumbnail.card {
    border: 0;
}

p.group.inner.list-group-item-text {
    font-family: Poppins;
    font-size: 17px;
    line-height: 28px;
    text-align: center;
    font-weight: 500;
    color: #293341;
    margin-bottom: 0;
}

.item.col-xs-4.col-lg-4.grid-group-item {
    margin-top: 0;
}

p.lead {
    text-align: center;
    margin-top: 7px;
    font-size: 16px;
    font-family: Poppins;
    color: #7b7b7b;
    margin-bottom: 0;
}

.item.col-xs-4.col-lg-4 {
    margin: 0;
}

.label p {
    color: #fff;
    text-align: center;
    font-size: 11px;
    font-family: Poppins;
    font-weight: 500;
    text-transform: uppercase;
}

.label {
    position: absolute;
    margin: 23px;
    background: #27ae60;
    border: 1px #27ae60;
    width: 41px;
    height: 20px;
    padding: 3px;
}

.add-cart p {
    font-size: 16px;
    line-height: 30px;
    color: #7b7b7b;
    font-weight: 300;
}

.img-label img {
    height: 293px;
}

button.btn.btn-dark {
    background: #293341;
    font-size: 13px;
    letter-spacing: 3px;
    font-family: Poppins;
    padding: 16px 28px;
    border-radius: 1px;
    font-weight: 500;
    text-transform: uppercase;
}

button.btn.btn-primary {
    background: #fff;
    border: 1px solid #eee;
    border-radius: 1px;
    width: 56px;
    color: #aaa599;
    font-size: 16px;
    height: 53px;
    margin: 6px;
}

.grid-group-item .caption.card-body p {
    text-align: center;
}

.list-group-item .caption.card-body p {
    text-align: left;
}

.grid-group-item .rate-grid {
    text-align: center;
}

.list-group-item .rate-grid {
    text-align: left;
}

.grid-group-item .add-cart,
.add-cart {
    display: none;
}

.list-group-item .add-cart {
    display: block;
}

img.group.list-group-image.img-fluid:hover {
    -webkit-transform: none;
    transform: none;
}

button.btn.btn-dark:hover {
    background-color: #c91f28;
    border: 1px solid #c91f28;
}

.pagination-grid li {
    margin: 10px;
}

li.page-item-one a,
li.page-item.active-two span,
li.page-item-three a,
li.page-item-four a,
li.page-item-five a,
li.page-item-six a {
    color: #293341;
    padding: 14px 22px;
}

li.page-item-one,
li.page-item.active-two,
li.page-item-three,
li.page-item-four,
li.page-item-five,
li.page-item-six {
    font-size: 16px;
    font-family: Poppins;
    font-weight: 500;
}

.pagination-grid {
    margin: 19px 133px;
}

/*  end List - Grid View */

/*  start single product */

/*  start single header */

.single-header p {
    margin-left: 67px;
}

.single-header {
    background: #eee;
    line-height: 80px;
    font-size: 16px;
    font-family: Poppins;
    color: #7b7b7b;
}

/*  end single header */

/*  start image selector */

.carousel-inner img {
    width: 100%;
}

.carousel-item img {
    width: 260px;
    /* height: 280px !important; */
}

#myCarousel .carousel-indicators {
    position: static;
    margin-top: 0px;
    margin: 0;
    width: 100%;
}

#myCarousel .carousel-indicators > li {
    height: 260px;
    width: 150px;
}

#myCarousel .carousel-indicators li img {
    display: block;
}

#myCarousel .carousel-indicators li.active img {
    opacity: 1;
}

#myCarousel .carousel-indicators li:hover img {
    opacity: 0.75;
}

/*  end image selector */

/*  start image selector info */

.img-selctor-info {
    margin-top: 33px;
}

.img-selctor-info h2 {
    font-size: 30px;
    font-family: Poppins;
    font-weight: 400;
    color: #293341;
}

.rating {
    margin: 0;
    flex-direction: row-reverse;
}

.rating > input {
    display: none;
}

.rating > label {
    position: relative;
    font-size: 1.6vw;
    color: #ffd600;
    cursor: pointer;
}

.rating > label::before {
    content: "\2605";
    position: absolute;
    opacity: 0;
}

.rating > label:hover:before,
.rating > label:hover ~ label:before {
    opacity: 1 !important;
}

.rating > input:checked ~ label:before {
    opacity: 1;
}

.rating:hover > input:checked ~ label:before {
    opacity: 0.4;
}

.img-selctor-info h3 {
    color: #293341;
    font-size: 25px;
    font-family: Poppins;
    font-weight: 600;
}

a.btn.btn-primary {
    background: #293341;
    font-size: 14px;
    letter-spacing: 3px;
    font-family: Poppins;
    padding: 14px 36px;
    border-radius: 1px;
    font-weight: 500;
    margin-top: 4px;
}

.img-selctor-info p {
    margin: 30px 0 0 0;
    color: #7b7b7b;
    font-family: Poppins;
    font-size: 16px;
}

i.fa.fa-truck {
    margin: 0 9px 0 0px;
}

hr.info-select {
    margin-top: 20px;
}

p.info1 span i {
    margin: 3px;
}

p.info1 span {
    color: #7b7b7b;
    margin: 19px;
}

.ship-info p {
    color: #293341;
    font-family: Poppins;
    font-size: 16px;
}
/*  end image selector info */

/*  start nav tab */

ul.nav.nav-tabs a {
    color: #7b7b7b;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.tab-content p {
    color: #7b7b7b;
    font-family: Poppins;
    font-size: 16px;
    line-height: 30px;
    font-weight: 300;
    border: 1px solid #eee;
    padding: 16px;
}

p.Additional-information {
    border: 1px solid #eee;
    padding: 16px;
}

p.Additional-information span {
    margin: 0 44px;
}

p.req-mail {
    border: 0;
}

div#menu2 h4 {
    font-size: 20px;
    color: #293341;
    font-family: Poppins;
    font-weight: 500;
    margin-top: 31px;
}

p.req-mail {
    border: 0;
    padding: 0;
}

p.mail-rating {
    color: #293341;
    font-size: 15px;
    border: 0;
    padding: 0;
}

p.textarea {
    border: 0;
    padding: 0;
    color: #293341;
    font-size: 15px;
}

textarea.form-control {
    padding: 40px;
}
.review-input {
    margin-top: 25px;
}

.input-group-prepend span {
    color: #293341;
    font-size: 15px;
    font-family: Poppins;
    background: white;
    padding: 19px;
}

input[type="submit"] {
    background: #293341;
    font-size: 14px;
    letter-spacing: 3px;
    font-family: Poppins;
    padding: 14px 47px;
    border-radius: 1px;
    font-weight: 500;
    margin-top: 16px;
    color: white;
}

.mailandphone {
    color: #293341;
    font-size: 15px;
    font-family: Poppins;
    margin-top: 12px;
}

/*  end nav tab */

/*  start Related Products */

.product-Related h2 {
    font-family: Poppins;
    margin-top: 50px;
    text-align: center;
    font-size: 35px;
    color: #293341;
    font-weight: 500;
}

h5.relate-info {
    text-align: center;
    font-family: Poppins;
    font-size: 17px;
    font-weight: 500;
    line-height: 26px;
}

p.relate-price {
    text-align: center;
    line-height: 26px;
    font-family: Poppins;
    font-size: 16px;
}

p.relate-price span {
    color: #c91f28;
}

.rate-relate {
    text-align: center;
}

/*  end Related Products */

/*  end single product */

/* start image blog bost */

.blog-header {
    text-align: center;
    padding: 45px;
    font-family: Poppins;
}

.blog-header p {
    font-size: 16px;
    color: #7b7b7b;
    font-weight: 300;
}
.blog-header h1 {
    font-size: 35px;
    line-height: 50px;
    color: #293341;
}

.card.bg-dark.text-white {
    border: 0;
}

.border-cart {
    text-align: center;
    border: 1px solid white;
    background: white;
    font-family: Poppins;
}

p.card-title {
    color: #c91f28;
    font-weight: 600;
    font-size: 14px;
}

h5.card-text {
    color: #293341;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}

p.card-text {
    color: #7b7b7b;
    font-size: 16px;
}
.card {
    border: 0 !important;
    margin-top: 34px;
}

a.btn.btn-primary:hover {
    background: #c91f28;
    border-color: #c91f28;
}

.pagi-blog .pagination-grid {
    justify-content: center;
    display: flex;
}

/* end image blog bost */



/* start cart table product */

.param {
    margin-bottom: 7px;
    line-height: 1.4;
}
.param-inline dt {
    display: inline-block;
}
.param dt {
    margin: 0;
    margin-right: 7px;
    font-weight: 600;
}
.param-inline dd {
    vertical-align: baseline;
    display: inline-block;
}

.param dd {
    margin: 0;
    vertical-align: baseline;
} 

.shopping-cart-wrap .price {
    font-weight: bold;
    margin-right: 5px;
    display: block;
    color: #293341;
    font-size: 16px;
    font-family: Poppins;
    padding: 20px 1px;
    text-align: center;
}
var {
    font-style: normal;
}

th.product-card {
    width: 300px;
}

select.form-control {
    background: #f9f9f9;
    height: 50px !important;
}

th.quantity-card {
    text-align: center;
}

th.price-card {
    text-align: center;
}

.media img {
    margin-right: 1rem;
}
.img-sm {
    width: 90px;
    max-height: 75px;
    object-fit: cover;
}

table.table.table-hover.shopping-cart-wrap {
    border: 1px solid rgba(0,0,0,.125);
}

thead.text-muted th {
    border-bottom: 0;
    color: #293341;
    font-size: 16px;
    font-family: Poppins;
    letter-spacing: 4px;
    padding: 20px 19px;
}

.img-wrap img {
    border: 0;
    padding: 1px;
    max-width: 100%;
    max-height: 100px;
}

p.title.text-truncate {
    margin-top: 19px;
    color: #293341;
    font-size: 16px;
    font-family: Poppins;
    font-weight: 300;
    padding: 20px 1px;
}

.table thead th {
    border: 0 !important;
}

.table td, .table th{
    vertical-align: middle !important;
}

.table td {
    padding: 11px !important;
}

.cart-btn {
    justify-content: right;
    display: grid;
    margin-top: 9px;
}

.cart-btn input#sub1valid {
    padding: 17px 25px;
    font-size: 14px;
    text-decoration: underline;
  
}
/* end cart table product */

/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	/*
	Label the data
	*/
	
}

/* start footer cart */

.footer-cart {
    background: #f9f9f9;
    margin-top: 50px;
    padding: 60px;
}

.discount-code p {
    font-family: Poppins;
    font-size: 16px;
    color: #7b7b7b;
}
.discount-code h6 {
    color: #293341;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
}

.form-group.mx-sm-3.mb-2 {
    margin: 0 !important;
}

input#inputPassword2 {
    padding: 14px 81px;
    border-radius: 1px;
}

form.form-inline input#sub1valid {
    padding: 16px 29px;
    font-size: 14px;
    border: 0;
}

li.list-group-item.d-flex.justify-content-between.align-items-center.px-0 {
    background: #f9f9f9;
    border: 0;
    padding: 0 0 24px;
}

li.list-group-item.d-flex.justify-content-between.align-items-center.px-0 span {
    text-align: right;
}

li.list-group-item.d-flex.justify-content-between.align-items-center.border-0.px-0.pb-0 {
    color: #293341;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 19px;
}

li.list-group-item.d-flex.justify-content-between.align-items-center.px-0 {
    color: #293341;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
}

.info-card .pt-4, .py-4 {
    padding: 0 !important;
}

.info-card input#sub1valid {
    padding: 10px 0;
    width: 100%;
    font-size: 14px;
}

.card-accept img {
    margin: 36px 31px;
}
/* end footer cart */
